<?xml version="1.0"?>
<phpunit
		backupGlobals="false"
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		beStrictAboutTestsThatDoNotTestAnything="true"
		convertDeprecationsToExceptions="true"
		beStrictAboutCoversAnnotation="false"
		testdox="true"
		stderr="true"
>
	<testsuites>
		<testsuite name="unit">
			<directory suffix=".php">./tests/Unit/</directory>
		</testsuite>
	</testsuites>
</phpunit>
