{% extends "base/base.twig" %}
{% block header %}
{% include 'partials/public-header.twig' %}
{% endblock %}
{% block content %}
<main class="my-5">
    <div class="container">
        <section class="text-center">
            <h4 class="mb-5"><strong>Latest posts</strong></h4>
            {% for row in blogs|batch(3) %}
                <div class="row">
                    {% for blog in row %}
                        {{ include('partials/blog-card.twig', {blog: blog}) }}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    </div>
</main>
{% endblock %}
